---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Programador Backend .NET",
    company: "Eldisser",
    description:
      "Responsable del desarrollo y mantenimiento de la plataforma B2B de la empresa, garantizando su estabilidad, escalabilidad y una experiencia de usuario fluida. Implementé generación automática de facturas en PDF, integración de pasarela de pagos Redsys y soluciones OCR para el procesamiento automatizado de documentos. Desarrollé y optimicé un sistema de gestión de almacén (WMS), integraciones con Navision ERP mediante Web Services y mejoras de rendimiento en bases de datos SQL Server. Trabajo en estrecha colaboración con equipos multidisciplinares para entregar soluciones de alta calidad en plazos exigentes.",
    link: "https://eldisser.com",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
